
.cell {
	border-width: 0px 10px 0px 0px;
	border-color: black;
	border-style: solid;
	width: 100px;
	height: 100px;
	display: inline-block;
}

.grass {
	background-color: #1cc613;
}

.ground {
	background-color: #876b4d;
}

.water {
	background-color: #2662ef;
}

.evil{
	z-index: 10;
	position: absolute;
}

.cow {
	z-index: 0;
	position: absolute;
}

div {
	
}

.grid {
	border-width: 10px 0px 0px 10px;
	border-color: black;
	border-style: solid;
	width: 550px;
	height: 550px;
	display: inline-block;
}

.interface {
	height: 550px;
	display: inline-block;
	vertical-align: top;

}


.row {
	border-width: 0px 0px 10px 0px;
	border-color: black;
	border-style: solid;
	width: 550px;
	height: 100px;
	display: block;
}
img {
	width: 100px;
	height: 100px;
}

.button_area {
	display: flex;
	background-color: gray;
	width: 450px;
}

.turn {
	border: none;
}

.no_button {
	display: inline-block;
	flex-grow: 1;
}

.stay{
	background-color: blue;
}

button {
	max-width: 150px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
    font-weight: bold;
}