
.cell {
	width: 100px;
	height: 100px;
}

.grass {
	background-color: green;
}

.water {
	background-color: blue;
}

div {
	border-width: 0px 10px 0px 0px;
	border-color: black;
	border-style: solid;
	width: 100px;
	height: 100px;
	display: inline-block;
}

.grid {
	border-width: 10px 0px 0px 10px;
	border-color: black;
	border-style: solid;
	width: 550px;
	height: 550px;
}

.row {
	border-width: 0px 0px 10px 0px;
	border-color: black;
	border-style: solid;
	width: 550px;
	height: 100px;
	display: block;
}
img {
	width: 100px;
	height: 100px;
}

.button_area {
	display: flex;
	border: none;
	background-color: gray;
	width: 450px;
}

.turn {
	border: none;
}

.no_button {
	border: none;

	display: inline-block;
	flex-grow: 1;
}

button {
	min-width: 150px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
}